h2 {
  color: black;
}

.video {
  width: 500px;
  height: 330px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.digital {
  color: black !important;
  text-align: justify;
  margin-top: 1.8rem;
}
