/* Based on the work of Cole McCombs */

.wrap {
  margin-top: 2rem;
  margin-left: 5rem;
  height: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.button {
  min-width: 150px !important;
  min-height: 30px !important;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  text-transform: uppercase !important;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #158994;
  background: linear-gradient(90deg, #158994 0%, rgba(79, 209, 197, 1) 100%) !important;
  border: none;
  border-radius: 500px !important;
  box-shadow: 8px 8px 20px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 5px;
}

button::before {
  border-radius: 400px;
  min-width: calc(200px + 8px);
  min-height: calc(50px + 8px);
  border: 4px solid #158994;
  box-shadow: 0 0 60px #158994;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-9px);
}

button:hover::before,
button:focus::before {
  opacity: 1;
}
